*{
    box-sizing: border-box;
}
.header{
    height: 30vh;
    background-color: #0c2a3d;
    opacity: 0.95;
    filter: alpha(opacity=95);
}
.header h1{
    text-align: center;
    padding-top: 1.5em;
    margin: 0;
    color: #f5f9fa;
    font-size: 3em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}
.header p{
    text-align: center;
    color: #f5f9fa;
    font-size: 1.5em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}