.questions-page form{
    border: 1px #333 solid;
    margin-left: 3em;
    margin-right: 3em;
    padding: 3em;
    text-align: center;
}
.english-question-here{
    border: 1px #333 solid;
    margin-left: 3em;
    margin-right: 3em;
    padding: 1.1em;
    text-align:center;
}
.questions-page input{
    margin-bottom: 1.5em;
}
.questions-page button{
    display: block;
    margin: auto;
    padding: 1.5em;
}