.google-button a{
    text-decoration: none;
    color: #f5f9fa;
    font-size: 20px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}
.google-button button{
    margin: auto;
    text-align: center;
    display: block;
}
.fill-google-link{
    display: inline-block;
    width: 100%;
    height: 100%;
}
a.fill-google-button{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    background: #19567d;
    border: none;
    padding: 20px;
    opacity: 0.97;
    filter: alpha(opacity=97);
}
.google-logo{
    width: 3em;
}